.WebHeader {
    margin-bottom: 8px;
    justify-content: space-between;
}

.homeWebsite {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    justify-content: center;
    /* padding: 10px 12px 0px 25px; */
    text-align: center;
    text-decoration: none;
    /* height: 8vh; */
    display: flex;
    padding-top: 10px;
    padding-bottom: 6px;
    width: 100px;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

}

.home{
    text-decoration: none;
    list-style: none;
    color: #2F78C4;
}


.website{
    color: #000048;
}

.homeWebsite:hover{
    transition: ease-out 0.3s;
}

.home:active,
.website:active, Breadcrumb {
    color: #000048;
    font-weight: medium;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.home img{
    margin-right: 10px;
    width: 20px;
}

.rightBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    padding-right: 0;
    /* margin-left: auto; */
    /* margin-left: 180px; */
}


.dropdownContent{
    list-style: none;
    text-decoration: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 6px #00000029;
border-radius: 8px;
padding: 20px;
width: 25%;
/* top: 45%; */
position: absolute;
/* left: 72%;
transform: translateY(-50%);
z-index: 1000; */
z-index: 1;
padding-right: 0;
box-sizing: border-box;

}


.pdf, .ppt, .doc{
    border: 1px solid var(--unnamed-color-000048);
    background-color: #FFFFFF;
border: 1px solid #000048;
border-radius: 8px;
font-weight: 600;
font-size: 14px;
line-height: 22px;
letter-spacing: 0px;
width: 80%;
color: #000048;
margin-top: 10px;
padding-top: 12px;
padding-bottom: 6px;
}

.pdf img,.ppt img,.doc img {
    margin-bottom: 5px;
}

.claim{
    margin-left: 20px;
}

/* .claim, .citation{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: normal;
    
} */

.claim span, .citation span{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #5C5C5C;
    font-weight: 200;
}



.claim input, .citation input{
    /* margin-top: 15px; */
    margin-left: 5px;
    border-color:#2F78C4;
}

.row{
    display: flex;
}

.downloadIcon{
    margin-left: 60px;
}

.share,
.push,
.download {
    color: #000048;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #000048;
    border-radius: 5px;
    background-color: #F1F1F1;
    margin-left: 20px;
    padding-left: 15px;
    /* height: 7vh; */
    padding-top: 5px;
    justify-content: center;
    align-self: center;
    padding-top: 9px;
    padding-bottom: 4px;
}

.share img, .push img, .download img{
    width: 25px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.share:hover,
.push:hover,
.download:hover {
    background-color: #000048;
    color: #FFFFFF;
}

.share:hover img, .push:hover img, .download:hover img{
    filter: brightness(0) invert(1);
}

.push img, .download img{
    margin-bottom: 5px;
}

.pdf:hover, .ppt:hover, .doc:hover{
    transition: 0.3s ease-out;
}
